#show-that-link-popup {
    position: absolute;
    background-color: #f2f2f2;
    border: 1px solid #bcbcbc;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    color: #333;
    z-index: 9999999;
    max-width: 300px;
    word-wrap: break-word;
  }